<% provide(:title, "Background") %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  h3{
  	color: black;
  }

  </style>
<h1>Background</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
Email: christiantalenscubillan@gmail.com</p>
&nbsp<p>
Contact Number: (0912) 369 0335</p>
&nbsp<p>
Religion: Roman Catholic</p>
&nbsp<p>
Present Address: 22-G B. Rodriguez St., Cebu City</p>
&nbsp<p>
Home Address: P-3 Don Julio, Brgy. Canlanipa, Surigao City </p>
&nbsp<p>
Birthday: November 2, 1996</p>
&nbsp<p>Place of Birth: Cebu City</p>
&nbsp<p>Citizenship: Filipino</p>
&nbsp<p>Languages: English, Tagalog, Japanese, French, Bisaya</p>
&nbsp
</div>
</span>

<p>My Hobbies are cooking, reading fantasy/sci fi books, eating and watching anime and movies mostly opera or musical. For sports i am good at swimming that includes diving and surfing, badminton and new found talent volleyball.
</p>

<p>My current dreams and goals I have set right now is for my career and family, i guess in few years I will be having my own place and give back the favor to my parents. While doing all of these I will still indugle myself to the organizations where i grew and became better. In a years ahead maybe take up a master's degree and teach in the academe where research and development is enjoyed and nurtured. </p>

<h1>Extra Curricular</h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/assets/ds.png" alt="ds logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>Datalogics Society</h3>
        <p>Treasurer(2014-2015) 2nd Semester</p>
        <p>Asst. VP-External(2015-2016)</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/jpmap.png" alt="jpmap logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>Junior People Management Association of the Philippines</h3>
        <p>Member(2016-2017)</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/rotaract.png" alt="rotaract logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>Rotaract Club of Cebu Fuente: USC Chapter</h3>
        <p>Member (2015-2016)</p>
        <p>Public Relations Officer (2016-2017)</p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/spp.png" alt="spp logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>Student Power Party</h3>
        <p>SPP Councilor</p>
        <p>Support System Head and Treasurer (2016-2017)</p>
      </div>
    </div>
 

  <div class="item">
      <img src="/assets/tedxusc.png" alt="tedxusc logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>Tedx USC</h3>
        <p>Marketing Volunteer(2015-2017)</p>
      </div>
    </div>
  

  <div class="item">
      <img src="/assets/uaa.png" alt="uaa logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>USC All Access</h3>
        <p>Video Editor (2014-2016)</p>
        <p>Segment Head for Day Ender (2015-2016)</p>
      </div>
    </div>
  

  <div class="item">
      <img src="/assets/usc pathways.png" alt="usc pathways logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>USC Pathways</h3>
        <p>Finance - Member (2014-2015)</p>
        <p>Finance - Head (2015-2016)</p>
      </div>
    </div>
  
  <div class="item">
      <img src="/assets/ssc logo.png" alt="usc ssc logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>USC Supreme Student Council</h3>
        <p>Undersectretary for Talamban Campus(2016-2017)</p>
        <p>Student Council Alliance of the Philippines - Auditor (2016-2017)</p>
      </div>
    </div>
  

  <div class="item">
      <img src="/assets/usc yfc.png" alt="usc yfc logo" width="460" height="345">
      <div class="carousel-caption">
        <h3>USC Youth for Christ</h3>
        <p>VP- Documentation (2015-2016)</p>
        <p>President (2016-2017)</p>
      </div>
    </div>

    

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
     
      