<% provide(:title, "Contact Me") %>

&nbsp<p>
Email: christiantalenscubillan@gmail.com</p>

<form action="https://facebook.com/Christian.is.talens">
<h1>Facebook</h1>
<input type="submit" value="Like Me!"></input>
</form>

<form action="https://twitter.com/NerdArtifact">
<h1>Twitter</h1>
<input type="submit" value="Tweet Me!"></input>
</form>


<form action="https://instagram.com/k._impossible/">
<h1>Instagram</h1>
<input type="submit" value="Follow Me!"></input>
</form>

<form action="https://github.com/kimcubillan">
<h1>GitHub</h1>
<input type="submit" value="Commit Me!"></input>
</form>
