<% provide(:title, "Education") %>
<h1>Education</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
2013 - present 		Univeristy of San Carlos </p>
<p>B.S. Computer Science</p>
&nbsp<p>
2009 - 2014			Caraga Regional Science High School</p>
&nbsp<p>
2003 - 2009			Special Science Elementary School</p>
</div>
</span>
<h1>Technical Expertise</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
Programming: C, C#, Java, Asssembly, Android Java, PhP, JavaScript</p>
&nbsp<p>
Platforms: Windows, Mac, Linux</p>
&nbsp<p>
Database: MySql, SQL Server Management</p>
</div>
</span>
<h1>Trainings</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
Internship Program UnionBank Ph.</p>
&nbsp<p>
API Crash Course - UnionBank Ph. MIT Department</p>
&nbsp<p>
C# Crash Course - UnionBank Ph. MIT Department</p>
&nbsp<p>
Research Forum - PSITE</p>
&nbsp<p>
Project Management - Sugbu Study Center</p>
&nbsp<p>
Smart Sweep Roadshow- Smart</p>
</div>
</span>
<h1>Awards</h1>
<div>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
Dean's Lister 1st, 3rd year 2nd sem</p>
</div>
</span>