<% provide(:title, "Hire Me") %>

<h1>Technical Expertise</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
Programming: C, C#, Java, Asssembly, Android Java, PhP, JavaScript</p>
&nbsp<p>
Platforms: Windows, Mac, Linux</p>
&nbsp<p>
Database: MySql, SQL Server Management</p>
</div>
</span>