<% provide(:title, "Home") %>

<%= image_tag('IMG_0003.jpg', :alt=>"profile picture", height:600, width:450)%>
<h1>Kim Christian Talens Cubillan</h1>
<p>
I am a Computer Science Student currently studying at the University of San Carlos. I achieve my goals through hardwork and dedication and I enjoy joining organizations that may help me grow and become a better person a leader. I want to make a difference through these affiliations and let my ideals materialize through action and faith.
</p>

<div align="center" >
<span style="display:inline-block; ">
&nbsp<p>
Excellent logical, analytical and computational skills</p>
&nbsp<p>
Strong motivational and leadership skills</p>
&nbsp<p>
Ability to work under pressure</p>
&nbsp<p>
Excellent research skills</p>
&nbsp<p>
Ability to word individual as well as in team</p>
</div>
</span>