<% provide(:title, "Projects") %>

<h1>Poll Survey</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
A Website that people can post Issues or Questions and at the same time they can vote yes or no in a certain Issue and can do comments</p>
&nbsp<p>
Role: UI/ Frontend</p>
&nbsp<p>
Language: PHP/ JavaScript</p>

</div>
</span>

<h1>Delivery System</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
A business delivery system that hold records to the items being shipped in different cities in the philippines</p>
&nbsp<p>
Role: Developer/Documentation</p>
&nbsp<p>
Language: PHP/ JavaScript</p>
</div>
</span>

<h1>SeeTrue</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
A stand-alone mobile application that extract texts from image of printed documents and digitalize and to become editable. There is also a english - filipino translation</p>
&nbsp<p>
Role: Developer/Documentation</p>
&nbsp<p>
Language: Android Java/ XML</p>
</div>
</span>

<h1>Machine Learning and Image Processing</h1>
<div align="left" >
<span style="display:inline-block; ">
&nbsp<p>
An application that is trained to recognize letters like A, B, C, D and E</p>
&nbsp<p>
Role: Developer</p>
&nbsp<p>
Language: Java</p>
</div>
</span>